  body{
                
                background-image: Url("source/Image/woyin.jpg");
                background-size: 100%;
                background-position: center;
            } 
            .hh{
               position: fixed;
               left: 400px;
               background-color: #4aa49c;
                padding:50px;
                margin:50px; 
                width: 400px;
                display: flex;
                flex-direction: column;
                border-radius: 40px;
            }
            .conntrol-textfield{
               margin: 10px;
              position: fixed;
                  
               display: flex;
               width: 250px;
               height: 30px;
              margin: 5px;
             left:600px;
              
                border: none;
            outline: none;
            font-size: 1.1rem;
            color: #f9004d;
            border-radius: 10px; 
            }
            .lab{
              font-family: Arial;
                   font-size: 15px;
                  font-weight: bold;
                 color: black; 
                margin: 10px;
            }
            .cancel{
                background-color: red;
               margin: 5px; 
               font-family:Georgia; 
                  color: white;
                 
                  border-radius: 28px;
                       font-size: 15px;
                       height: 35px;
                     width:100px;
                margin: 5px; 
            }
            .cancel:hover{
                
                  background: linear-gradient(#378de5, #79bbff);
            }
            .button{
             background-color: #0b4578;
               margin: 5px; 
               font-family:Georgia; 
                  color: white;
                 
                  border-radius: 28px;
                       font-size: 15px;
                       height: 35px;
                     width:100px;
                margin: 5px;
            }
            .button:hover{
                       background: linear-gradient(#378de5, #79bbff);
                
            }
            .text_labe{
                display: flex;
            }
        form .buttonsgroup{
               margin-bottom: 5px; 
                display: flex;
                flex-direction: row;
             
          
            }
            .buttons{
                 background-color: green;
                position: fixed;
                left: 450px;
                bottom: 30px;
                 width: 150px;
                height: 40px;
                  font-family:Georgia; 
                  color: white;
                 
                  border-radius: 28px;
                       font-size: 15px;
            }
              .buttons3{
                background-color: red;
                position: fixed;
                left: 800px;
                bottom: 30px;
                 width: 150px;
                height: 40px;
                  font-family:Georgia; 
                  color: white;
                 
                  border-radius: 28px;
                       font-size: 15px;
            }
              .buttons2{
                background-color: purple;
                position: fixed;
                left:630px;
                bottom: 30px;
                 width: 150px;
                height: 40px;
                  font-family:Georgia; 
                  color: white;
                 
                  border-radius: 28px;
                       font-size: 15px;
            }
            .title{
                font-family: Arial;
                   font-size: 25px;
                  font-weight: bold;
                 color: black;
                
            }